.about {
    &__head {
        padding: 150px 0 0 0;
    }
    &__main {
        padding: 0;
    }
    &__wrapper {
        display: flex;
        align-items: start;
        justify-content: space-between;

    }
    
}