.about__main {
    &-play {
        background-color: #00000080;
        width: 96px;
        height: 96px;
        border-radius: 100%;
        @include flexCenter;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
        transition: all .4s ease;
        & > svg {
            width: 40px;
            height: 40px;
        }
        &:hover {
            width: 120px;
            height: 120px;
        }
    }
    &-prev {
        position: relative;
        width: 100%;
        max-width: 870px;
        height: 360px;
        margin: 0 auto;
        & > img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        & > iframe {
            display: none;
        }
    }
}