.fillter {
    border: none;
    position: relative;
    width: 18%;
    max-width: 18%;
    &__box {
        display: block;
        margin-bottom: 45px;
        height: 1000px;
    }
    &__title {
        @include fontsBold;
        font-size: 14px;
        color: $blackColor;
        margin-bottom: 25px;
    }
    &__items {
        margin-bottom: 45px;
    }
    &__item {
        @include flexStar;
        gap: 5px;
        cursor: pointer;
        margin-bottom: 14px;        
        &-color {
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 5px;
            margin-bottom: 14px;
            &:last-child {
                margin-bottom: 45px;
            }
        }
    }
    &__checkbox {
        margin-top: 3px;
        accent-color: $mainColor;
        color: $whiteColor;
        cursor: pointer;
    }
    &__label {
        @include fontsLight;
        font-size: 14px;
        color: $blackColor;
    }
    &__color {
        width: 36px;
        height: 36px;
        border-radius: 100%;
        border: 1px solid $grayColor;
    }
    &__name {
        @include fontsLight;
        font-size: 14px;
        color: $blackColor;
    }
    &__btn {
        width: 100%;
        max-width: 175px;
        padding: 9px 15px;
        @include flexCenter;
        border: 1px solid $mainColor;
        @include fontsBold;
        font-size: 14px;
        color: $mainColor;
        border-radius: 5px;
        transition: all .4s ease;
        &:hover {
            background-color: $mainColor;
            color: $whiteColor;
        }
    }
}
