.hamburger {
    width: 30px;
    height: 30px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    display: none;
    z-index: 30;
    & > span {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 80%;
        height: 2px;
        border-radius: 5px;
        background-color: $mainColor;
        transform: translate(-50%, -50%);       
        &:first-child {
            top: 30%;
            transition: all .4s ease;
        }
        &:last-child {
            top: 70%;
            transition: all .4s ease;
        }
    }
}