.selection {
    padding: 80px 0;
    &__title {
        font-size: 32px;
        @include fontsLight;
        color: $blackColor;
        margin-bottom: 30px;
        text-align: center;
    }
    &__subtitle {
        @include fontsLight;
        color: $blackColor;
        font-size: 20px;
        margin-bottom: 23px;
        text-align: center;
    }
    &__choice {
        width: 100%;
        max-width: 700px;
        margin: 0 auto;
       
    }
    &__mark {
        height: 42px;
        margin: 0 20px 20px 0;
        padding: 3px 50px 3px 20px;
        border: 1px solid $mainColor;
        color: $mainColor;
        font: inherit;
        font-size: 16px;
        transition: 0.2s;
        cursor: pointer;
        background: url('../icons/arrow.svg') no-repeat right 20px top 12px / 13px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 5px;
        &:focus {
            outline: 1px solid $mainColor;
        }
    }
    &__form {
         @include flexCenter;
        flex-wrap: wrap;
        &-btn {
            width: 100%;
            padding: 11px 40px 13px;
            max-width: 162px;
            height: 45px;
            @include fontsMedium;
            color: $whiteColor;
            font-size: 16px;
            border-radius: 5px;
            &:hover {
                background-color: $mainColor2;
            }
        } 
    }
}