@font-face {
  font-family: "MuseoSansCyrl-light";
  src: url("../fonts/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl-300.woff2") format("woff2");
  font-weight: 300;
}
@font-face {
  font-family: "MuseoSansCyrl-medium";
  src: url("../fonts/MuseoSansCyrl-500.woff") format("woff"), url("../fonts/MuseoSansCyrl-500.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "MuseoSansCyrl-bold";
  src: url("../fonts/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl-700.woff2") format("woff2");
  font-weight: 700;
}
html, body {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "MuseoSansCyrl-light", Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
}
button:focus {
  outline: 1px solid rgba(0, 0, 0, 0);
}

input {
  display: block;
  border: none;
}
input:focus {
  outline: 1px solid rgba(0, 0, 0, 0);
}

textarea {
  display: block;
  border: none;
  resize: none;
}
textarea:focus {
  outline: 1px solid rgba(0, 0, 0, 0);
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

.container {
  max-width: 1150px;
  padding: 0 15px;
  margin: 0 auto;
}

.swiper-pagination-bullet {
  background-color: #fff;
  opacity: 1;
  width: 10px;
  height: 10px;
  border: 1px solid #ff8643;
}

.swiper-pagination-bullet-active {
  background-color: #ff8643;
}

.dark {
  color: #000 !important;
}

.dark-btn {
  border: 1px solid #000 !important;
}
.dark-btn:hover {
  border: 1px solid #ff8643 !important;
  color: #ff8643 !important;
}

.btn {
  background-color: #ff8643;
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.hide {
  display: none;
}

.sistems__swiper-arrow {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 1px solid #a6aaab;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}
.sistems__swiper-arrow > svg {
  width: 18px;
  height: 18px;
}
.sistems__swiper-arrow:hover {
  background-color: #ff8643;
}
.sistems__swiper-arrow:hover svg > path {
  stroke: #ffffff;
}

.title {
  font-size: 32px;
  font-family: "MuseoSansCyrl-light", Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0;
  color: #000;
  margin-bottom: 30px;
  text-align: center;
}

.subtitle {
  font-family: "MuseoSansCyrl-light", Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0;
  color: #000;
  font-size: 20px;
  margin-bottom: 23px;
  text-align: center;
}

.header {
  padding: 16px 0;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 10;
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 50px;
}
.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.header__right-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 12px;
}
.header__right-list > li {
  display: block;
  width: 40px;
  height: 100%;
  position: relative;
}
.header__right-list > li::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 30%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  height: 2px;
  background-color: #ff8643;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  display: none;
}
.header__right-list > li:hover::before {
  display: block;
}
.header__right-list > li > a {
  display: block;
  width: 40px;
  height: 100%;
  color: #a6aaab;
  font-family: "MuseoSansCyrl-light", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 14px;
}
.header__right-list > li > a > img {
  width: 17px;
  height: auto;
}
.header__right-list > li > img {
  width: 17px;
  height: auto;
}
.header__nav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 54px;
}
.header__nav > ul > li {
  position: relative;
  padding: 15px 0;
}
.header__nav > ul > li:hover > ul {
  display: block;
}
.header__nav > ul > li > ul {
  position: absolute;
  top: 30px;
  left: 0;
  display: none;
  padding: 10px 20px;
  width: 400px;
  background-color: #fff;
}
.header__nav > ul > li > ul > li {
  padding: 15px 0;
}
.header__nav > ul > li > ul > li > a {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  color: #000;
  font-family: "MuseoSansCyrl-light", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 14px;
}
.header__nav > ul > li > ul > li > a:hover {
  color: #ff8643;
}
.header__nav > ul > li > a {
  position: relative;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  color: #000;
  font-family: "MuseoSansCyrl-light", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 14px;
}
.header__nav > ul > li > a:last-child {
  color: #ff8643;
  font-weight: 700;
}
.header__nav > ul > li > a:last-child::after {
  display: none;
}
.header__nav > ul > li > a::after {
  content: "";
  position: absolute;
  top: 3px;
  right: -17px;
  width: 10px;
  height: 11px;
  background: url("../icons/arrow.svg");
}

.main {
  width: 100%;
}
.main__item {
  position: relative;
  width: 100%;
}
.main__item > picture {
  display: block;
  width: 100%;
  height: 750px;
}
.main__item > picture > img {
  width: 100%;
  height: 750px;
}
.main__item-box {
  position: absolute;
  top: 50%;
  left: 40%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.main__item-title {
  font-family: "MuseoSansCyrl-medium", Arial, Helvetica, sans-serif;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0;
  font-size: 28px;
  color: #fff;
  margin-bottom: 30px;
}
.main__item-subtitle {
  font-family: "MuseoSansCyrl-light", Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0;
  font-size: 20px;
  color: #fff;
  margin-bottom: 30px;
}
.main__item-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 122px;
  height: 43px;
  padding: 0 17px;
  border: 1px solid #fff;
  border-radius: 5px;
  font-family: "MuseoSansCyrl-light", Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0;
  font-size: 16px;
  color: #fff;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  margin-top: 90px;
}
.main__item-btn:hover {
  border: 1px solid #ff8643;
  color: #ff8643;
}

.selection {
  padding: 80px 0;
}
.selection__title {
  font-size: 32px;
  font-family: "MuseoSansCyrl-light", Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0;
  color: #000;
  margin-bottom: 30px;
  text-align: center;
}
.selection__subtitle {
  font-family: "MuseoSansCyrl-light", Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0;
  color: #000;
  font-size: 20px;
  margin-bottom: 23px;
  text-align: center;
}
.selection__choice {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}
.selection__mark {
  height: 42px;
  margin: 0 20px 20px 0;
  padding: 3px 50px 3px 20px;
  border: 1px solid #ff8643;
  color: #ff8643;
  font: inherit;
  font-size: 16px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
  background: url("../icons/arrow.svg") no-repeat right 20px top 12px/13px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 5px;
}
.selection__mark:focus {
  outline: 1px solid #ff8643;
}
.selection__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.selection__form-btn {
  width: 100%;
  padding: 11px 40px 13px;
  max-width: 162px;
  height: 45px;
  font-family: "MuseoSansCyrl-medium", Arial, Helvetica, sans-serif;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
}
.selection__form-btn:hover {
  background-color: #fd6f23;
}

.sistems {
  padding: 80px 0;
}
.sistems__item {
  position: relative;
  width: 265px;
  height: 265px;
  background-color: #f9f9f9;
  border-radius: 5px;
  padding: 30px;
  display: block;
}
.sistems__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #d1d1d1;
  z-index: -1;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border-radius: 5px;
}
.sistems__item:hover::before {
  z-index: 10;
}
.sistems__item-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 11;
}
.sistems__item-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.sistems__item-title {
  font-family: "MuseoSansCyrl-medium", Arial, Helvetica, sans-serif;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0;
  font-size: 18px;
  color: #000;
  z-index: 11;
}
.sistems__item-chewron {
  width: 18px;
  height: 18px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  z-index: 11;
}
.sistems__swiper-next {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 5;
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}
.sistems__swiper-prev {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 5;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.movement {
  padding: 80px 0;
}
.movement__title {
  text-align: center;
}
.movement__box {
  width: 100%;
  height: auto;
}
.movement__box > video {
  width: 100%;
  height: 100%;
}

.news {
  padding: 80px 0;
  background-color: #f9f9f9;
}
.news__item {
  display: block;
  width: 100%;
  overflow: hidden;
  background-color: #fff;
  border-radius: 5px;
  position: relative;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  padding-bottom: 50px;
}
.news__item-img {
  width: 100%;
}
.news__item-img > picture {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.news__item-title {
  font-size: 20px;
  font-family: "MuseoSansCyrl-light", Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0;
  color: #000;
  width: 70%;
  line-height: 160%;
  margin: 0 auto;
  margin-bottom: 65px;
}
.news__item-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 20px;
  width: 70%;
  margin: 0 auto;
}
.news__item-more {
  font-size: 20px;
  font-family: "MuseoSansCyrl-light", Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0;
  color: #000;
  text-transform: uppercase;
}
.news__item-shewron {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.news__item:hover .news__item-title {
  color: #ff8643;
}
.news__item:hover .news__item-more {
  color: #ff8643;
}
.news__item-archive {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.news-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}
.news__archive {
  background-color: #f9f9f9;
}/*# sourceMappingURL=style.css.map */