@font-face {
  font-family: "MuseoSansCyrl-light";
  src: url("../fonts/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl-300.woff2") format("woff2");
  font-weight: 300;
}
@font-face {
  font-family: "MuseoSansCyrl-medium";
  src: url("../fonts/MuseoSansCyrl-500.woff") format("woff"), url("../fonts/MuseoSansCyrl-500.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "MuseoSansCyrl-bold";
  src: url("../fonts/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl-700.woff2") format("woff2");
  font-weight: 700;
}
html, body {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "MuseoSansCyrl-light", Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

b {
  font-family: "MuseoSansCyrl-bold", Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0;
}

button {
  border: none;
}
button:focus {
  outline: 1px solid rgba(0, 0, 0, 0);
}

input {
  display: block;
  border: none;
}
input:focus {
  outline: 1px solid rgba(0, 0, 0, 0);
}

textarea {
  display: block;
  border: none;
  resize: none;
}
textarea:focus {
  outline: 1px solid rgba(0, 0, 0, 0);
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

.container {
  max-width: 1150px;
  padding: 0 15px;
  margin: 0 auto;
}

.body__container {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.swiper-pagination-bullet {
  background-color: #fff;
  opacity: 1;
  width: 10px;
  height: 10px;
  border: 1px solid #ff8643;
}

.swiper-pagination-bullet-active {
  background-color: #ff8643;
}

.dark {
  color: #000 !important;
}

.dark-btn {
  border: 1px solid #000 !important;
}
.dark-btn:hover {
  border: 1px solid #ff8643 !important;
  color: #ff8643 !important;
}

.btn {
  background-color: #ff8643;
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.showFlex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.sistems__swiper-arrow {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 1px solid #a6aaab;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}
.sistems__swiper-arrow > svg {
  width: 18px;
  height: 18px;
}
.sistems__swiper-arrow:hover {
  background-color: #ff8643;
}
.sistems__swiper-arrow:hover svg > path {
  stroke: #ffffff;
}

.title {
  font-size: 32px;
  font-family: "MuseoSansCyrl-light", Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0;
  color: #000;
  margin-bottom: 30px;
  text-align: center;
}

.subtitle {
  font-family: "MuseoSansCyrl-light", Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0;
  color: #000;
  font-size: 20px;
  margin-bottom: 23px;
  text-align: center;
}

.descr {
  font-family: "MuseoSansCyrl-light", Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0;
  font-size: 16px;
  color: #000;
  margin-bottom: 20px;
}
.descr > a {
  font-family: "MuseoSansCyrl-bold", Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0;
  font-size: 16px;
  color: #ff8643;
}

.list {
  list-style-type: disc;
  margin-bottom: 30px;
}
.list__item {
  font-family: "MuseoSansCyrl-light", Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0;
  font-size: 16px;
  color: #000;
  margin-bottom: 10px;
  margin-left: 20px;
}
.list-number {
  margin-bottom: 30px;
}

.download {
  display: block;
  font-family: "MuseoSansCyrl-medium", Arial, Helvetica, sans-serif;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0;
  color: #ff8643;
  font-size: 20px;
  margin-bottom: 30px;
}

.sitebar {
  position: fixed;
  top: 15%;
  left: 10%;
  width: 10%;
  border: 1px solid #d1d1d1;
  -webkit-box-shadow: 10px 10px 20px #d1d1d1;
          box-shadow: 10px 10px 20px #d1d1d1;
  padding: 10px;
}
.sitebar__news {
  display: none;
}
.sitebar__nav > ul > li {
  margin-bottom: 10px;
}
.sitebar__nav > ul > li > a {
  font-family: "MuseoSansCyrl-light", Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0;
  font-size: 16px;
  color: #000;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.sitebar__nav > ul > li > a:hover {
  color: #ff8643;
}

.header {
  padding: 16px 0;
  width: 100%;
  position: fixed;
  background-color: #fff;
  z-index: 10;
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 50px;
}
.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.header__right-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 12px;
}
.header__right-list > li {
  display: block;
  width: 40px;
  height: 100%;
  position: relative;
}
.header__right-list > li::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 30%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  height: 2px;
  background-color: #ff8643;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  display: none;
}
.header__right-list > li:hover::before {
  display: block;
}
.header__right-list > li > a {
  display: block;
  width: 40px;
  height: 100%;
  color: #a6aaab;
  font-family: "MuseoSansCyrl-light", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 14px;
}
.header__right-list > li > a > img {
  width: 17px;
  height: auto;
}
.header__right-list > li > img {
  width: 17px;
  height: auto;
}
.header__nav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 54px;
}
.header__nav > ul > li {
  position: relative;
  padding: 15px 0;
}
.header__nav > ul > li:hover > ul {
  display: block;
}
.header__nav > ul > li > ul {
  position: absolute;
  top: 30px;
  left: 0;
  display: none;
  padding: 10px 20px;
  width: 400px;
  background-color: #fff;
}
.header__nav > ul > li > ul > li {
  padding: 15px 0;
}
.header__nav > ul > li > ul > li > a {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  color: #000;
  font-family: "MuseoSansCyrl-light", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 14px;
}
.header__nav > ul > li > ul > li > a:hover {
  color: #ff8643;
}
.header__nav > ul > li > a {
  position: relative;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  color: #000;
  font-family: "MuseoSansCyrl-light", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 14px;
}
.header__nav > ul > li > a:last-child {
  color: #ff8643;
  font-weight: 700;
}
.header__nav > ul > li > a:last-child::after {
  display: none;
}
.header__nav > ul > li > a::after {
  content: "";
  position: absolute;
  top: 3px;
  right: -17px;
  width: 10px;
  height: 11px;
  background: url("../icons/arrow.svg");
}
.header__mobile {
  position: absolute;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  background-color: #a6aaab;
  z-index: 20;
  padding: 30px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.header__mobile > ul > li {
  position: relative;
  width: 35%;
  margin-bottom: 30px;
}
.header__mobile > ul > li > a {
  font-family: "MuseoSansCyrl-light", Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0;
  color: #000;
  font-size: 16px;
}
.header__mobile > ul > li:nth-child(4)::after {
  display: none;
}
.header__mobile > ul > li:last-child::after {
  display: none;
}
.header__mobile > ul > li::after {
  content: "";
  position: absolute;
  top: 0;
  right: 50%;
  width: 16px;
  height: 16px;
  background-image: url("../../assets/icons/arrow.svg");
  background-repeat: no-repeat;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.header__mobile > ul > li > ul {
  display: none;
  padding: 20px 0;
}
.header__mobile > ul > li > ul > li {
  margin-left: 10px;
  margin-bottom: 10px;
  width: 100%;
}
.header__mobile > ul > li > ul > li a {
  font-family: "MuseoSansCyrl-light", Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0;
  color: #000;
  font-size: 12px;
}

.menu__active .header__mobile {
  right: 0;
}
.menu__active .hamburger > span:first-child {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
.menu__active .hamburger > span:nth-child(2) {
  opacity: 0;
}
.menu__active .hamburger > span:last-child {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.hamburger {
  width: 30px;
  height: 30px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  display: none;
  z-index: 30;
}
.hamburger > span {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 2px;
  border-radius: 5px;
  background-color: #ff8643;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.hamburger > span:first-child {
  top: 30%;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.hamburger > span:last-child {
  top: 70%;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.main {
  width: 100%;
}
.main__item {
  position: relative;
  width: 100%;
}
.main__item > picture {
  display: block;
  width: 100%;
  height: 750px;
}
.main__item > picture > img {
  width: 100%;
  height: 750px;
}
.main__item-box {
  position: absolute;
  top: 50%;
  left: 40%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.main__item-title {
  font-family: "MuseoSansCyrl-medium", Arial, Helvetica, sans-serif;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0;
  font-size: 28px;
  color: #fff;
  margin-bottom: 30px;
}
.main__item-subtitle {
  font-family: "MuseoSansCyrl-light", Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0;
  font-size: 20px;
  color: #fff;
  margin-bottom: 30px;
}
.main__item-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 122px;
  height: 43px;
  padding: 0 17px;
  border: 1px solid #fff;
  border-radius: 5px;
  font-family: "MuseoSansCyrl-light", Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0;
  font-size: 16px;
  color: #fff;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  margin-top: 90px;
}
.main__item-btn:hover {
  border: 1px solid #ff8643;
  color: #ff8643;
}

.selection {
  padding: 80px 0;
}
.selection__title {
  font-size: 32px;
  font-family: "MuseoSansCyrl-light", Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0;
  color: #000;
  margin-bottom: 30px;
  text-align: center;
}
.selection__subtitle {
  font-family: "MuseoSansCyrl-light", Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0;
  color: #000;
  font-size: 20px;
  margin-bottom: 23px;
  text-align: center;
}
.selection__choice {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}
.selection__mark {
  height: 42px;
  margin: 0 20px 20px 0;
  padding: 3px 50px 3px 20px;
  border: 1px solid #ff8643;
  color: #ff8643;
  font: inherit;
  font-size: 16px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
  background: url("../icons/arrow.svg") no-repeat right 20px top 12px/13px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 5px;
}
.selection__mark:focus {
  outline: 1px solid #ff8643;
}
.selection__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.selection__form-btn {
  width: 100%;
  padding: 11px 40px 13px;
  max-width: 162px;
  height: 45px;
  font-family: "MuseoSansCyrl-medium", Arial, Helvetica, sans-serif;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
}
.selection__form-btn:hover {
  background-color: #fd6f23;
}

.sistems {
  padding: 80px 0;
}
.sistems__item {
  position: relative;
  width: 265px;
  height: 265px;
  background-color: #f9f9f9;
  border-radius: 5px;
  padding: 30px;
  display: block;
}
.sistems__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #d1d1d1;
  z-index: -1;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border-radius: 5px;
}
.sistems__item:hover::before {
  z-index: 10;
}
.sistems__item-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 11;
}
.sistems__item-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.sistems__item-title {
  font-family: "MuseoSansCyrl-medium", Arial, Helvetica, sans-serif;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0;
  font-size: 18px;
  color: #000;
  z-index: 11;
}
.sistems__item-chewron {
  width: 18px;
  height: 18px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  z-index: 11;
}
.sistems__swiper-next {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 5;
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}
.sistems__swiper-prev {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 5;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.movement {
  padding: 80px 0;
}
.movement__title {
  text-align: center;
}
.movement__box {
  width: 100%;
  height: auto;
}
.movement__box > video {
  width: 100%;
  height: 100%;
}

.news {
  padding: 80px 0;
  background-color: #f9f9f9;
}
.news__item {
  position: relative;
  display: block;
  height: 450px;
  overflow: hidden;
  background-color: #fff;
  border-radius: 5px;
  position: relative;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  padding-bottom: 50px;
}
.news__item-img {
  width: 100%;
}
.news__item-img > picture {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.news__item-title {
  font-size: 20px;
  font-family: "MuseoSansCyrl-light", Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0;
  color: #000;
  width: 70%;
  line-height: 160%;
  margin: 0 auto;
  margin-bottom: 65px;
}
.news__item-bottom {
  position: absolute;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 20px;
}
.news__item-more {
  font-size: 20px;
  font-family: "MuseoSansCyrl-light", Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0;
  color: #000;
  text-transform: uppercase;
}
.news__item-shewron {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.news__item:hover .news__item-title {
  color: #ff8643;
}
.news__item:hover .news__item-more {
  color: #ff8643;
}
.news__item-archive {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.news-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}
.news__archive {
  background-color: #f9f9f9;
}
.news-page {
  padding: 100px 0 80px 0;
}
.news-page__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
.news-page__item {
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
.news-page__item > picture {
  width: 100%;
  height: auto;
}
.news-page__item > picture > img {
  width: 100%;
}
.news-page__item-inner {
  padding: 30px;
  position: relative;
}
.news-page__item-date {
  font-family: "MuseoSansCyrl-light", Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0;
  font-size: 16px;
  color: #a6aaab;
  margin-bottom: 23px;
}
.news-page__item-title {
  font-family: "MuseoSansCyrl-light", Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0;
  font-size: 20px;
  color: #000;
  margin-bottom: 22px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.news-page__item-more {
  font-size: 12px;
  font-family: "MuseoSansCyrl-light", Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0;
  color: #000;
  text-transform: uppercase;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.news-page__item-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
.news-page__item-bottom > img {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.news-page__item:hover .news-page__item-title, .news-page__item:hover .news-page__item-more {
  color: #ff8643;
}

.information {
  padding: 80px 0;
}
.information__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}
.information__wrapper-hide {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 4s ease;
  transition: all 4s ease;
}
.information__title {
  font-family: "MuseoSansCyrl-medium", Arial, Helvetica, sans-serif;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0;
  font-size: 26px;
  margin-bottom: 46px;
}
.information__descr {
  font-size: 16px;
  font-family: "MuseoSansCyrl-medium", Arial, Helvetica, sans-serif;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0;
  color: #a6aaab;
}
.information__left {
  width: 45%;
}
.information__right {
  width: 45%;
}
.information__btn {
  border: 1px solid #ff8643;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 175px;
  padding: 9px 15px;
  background: none;
  color: #ff8643;
  font-family: "MuseoSansCyrl-medium", Arial, Helvetica, sans-serif;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  margin: 0 auto;
}
.information__btn:hover {
  background-color: #ff8643;
  color: #fff;
}
.information__list {
  list-style-type: disc;
}
.information__list-item {
  font-size: 16px;
  font-family: "MuseoSansCyrl-light", Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0;
  margin-bottom: 20px;
  color: #000;
}

.information__hide {
  display: none;
}

.about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__main {
  padding: 100px 0 0 0;
}
.about__main-play {
  background-color: rgba(0, 0, 0, 0.5019607843);
  width: 96px;
  height: 96px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.about__main-play > svg {
  width: 40px;
  height: 40px;
}
.about__main-play:hover {
  width: 120px;
  height: 120px;
}
.about__main-prev {
  position: relative;
  width: 100%;
  max-width: 870px;
  height: 360px;
  margin: 0 auto;
}
.about__main-prev > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.about__main-prev > iframe {
  display: none;
}

.about__information {
  padding: 80px 0;
}
.about__information-descr {
  font-family: "MuseoSansCyrl-light", Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0;
  font-size: 16px;
  color: #000;
  margin-bottom: 20px;
}
.about__information-list {
  list-style-type: disc;
  margin-bottom: 30px;
}
.about__information-item {
  font-family: "MuseoSansCyrl-light", Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0;
  font-size: 16px;
  color: #000;
  margin-bottom: 10px;
  margin-left: 20px;
}
.about__information-download {
  display: block;
  font-family: "MuseoSansCyrl-medium", Arial, Helvetica, sans-serif;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0;
  color: #ff8643;
  font-size: 20px;
  margin-bottom: 30px;
}

.footer {
  padding: 80px 0;
  background-color: #f9f9f9;
}
.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}
.footer__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 60px;
}
.footer__nav-list > li > a {
  font-family: "MuseoSansCyrl-light", Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0;
  color: #000;
  font-size: 18px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.footer__nav-list > li > a:hover {
  color: #ff8643;
}
.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 65px;
}
.footer__social-link {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.footer__social-link:hover {
  fill: #ff8643;
}
.footer__policy {
  display: block;
  font-size: 18px;
  font-family: "MuseoSansCyrl-light", Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0;
  color: #a6aaab;
  margin-bottom: 50px;
}
.footer__policy:hover {
  text-decoration: underline;
  color: #ff8643;
}
.footer__pay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 20px;
  margin-bottom: 50px;
}
.footer__copy {
  display: block;
  font-size: 18px;
  font-family: "MuseoSansCyrl-light", Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0;
  color: #a6aaab;
  margin-bottom: 50px;
}

@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
  .header__left {
    gap: 30px;
  }
  .header__nav > ul {
    gap: 35px;
  }
  .header__right-list {
    gap: 0;
  }
  .information__title {
    font-size: 23px;
  }
  .information__desctr {
    font-size: 14px;
  }
  .sitebar {
    top: 20%;
    left: 5%;
    width: 15%;
  }
  .about__main {
    width: 60%;
    margin: 0 auto;
  }
  .about__information {
    width: 60%;
    margin: 0 auto;
  }
}
@media (max-width: 1024px) {
  .container {
    max-width: 993px;
  }
  .sitebar {
    display: none;
  }
  .about__main {
    width: 100%;
  }
  .about__information {
    width: 100%;
  }
}
@media (max-width: 993px) {
  .container {
    max-width: 768px;
  }
  .header__nav {
    display: none;
  }
  .header__lang-item {
    display: none !important;
  }
  .hamburger {
    display: block;
  }
  .news__item {
    height: 350px;
  }
  .news__item-title {
    font-size: 16px;
    line-height: 120%;
    width: 100%;
    margin-left: 10px;
    margin-bottom: 20px;
  }
  .news__item-more {
    font-size: 16px;
  }
  .information__title {
    font-size: 16px;
  }
  .information__descr {
    font-size: 14px;
  }
  .information__list-item {
    font-size: 14px;
  }
  .footer__nav-list {
    gap: 20px;
  }
  .footer__social {
    gap: 20px;
  }
}
@media (max-width: 765px) {
  .header__mobile > ul > li::after {
    right: 30%;
  }
  .information__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
  .information__wrapper-hide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
  .information__left {
    width: 100%;
  }
  .information__right {
    width: 100%;
  }
  .information__title {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .information__descr {
    font-size: 16;
  }
  .information__list {
    margin-left: 30px;
  }
  .about__main-prev > img {
    width: 100%;
  }
  .about__main-prev > iframe {
    width: 100%;
  }
  .footer__nav-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
  .footer__policy {
    text-align: center;
  }
  .footer__pay {
    width: 50%;
    margin: 0 auto 50px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__copy {
    text-align: center;
  }
}
@media (max-width: 565px) {
  .header__mobile > ul > li::after {
    right: 0;
  }
  .sistems__swiper-arrow {
    display: none;
  }
  .sistems__item {
    width: 300px;
  }
  .news__item {
    width: 320px;
  }
  .custom-logo {
    width: 60px;
    height: auto;
  }
}
@media (max-width: 450px) {
  .main__item-title {
    font-size: 20px;
  }
  .sistems__swiper-arrow {
    display: none;
  }
  .sistems__item {
    width: 300px;
  }
  .news__item {
    width: 320px;
  }
}/*# sourceMappingURL=style.css.map */