.container {
    max-width: 1150px;
    padding: 0 15px;
    margin: 0 auto;
}
.swiper-pagination-bullet {
    background-color: $whiteColor;
    opacity: 1;
    width: 10px;
    height: 10px;
}
.swiper-pagination-bullet-active {
    background-color: $mainColor;
}
.dark {
    color: $blackColor !important;
}
.dark-btn {
    border: 1px solid $blackColor !important;
    &:hover {
        border: 1px solid $mainColor !important;
        color: $mainColor !important;
    }
}
.btn {
    background-color: $mainColor;
    cursor: pointer;
    transition: all .4s ease;
}
.hide {
    display: none;    
}