.container {
    max-width: 1150px;
    padding: 0 15px;
    margin: 0 auto;
}
.swiper-pagination-bullet {
    background-color: $whiteColor;
    opacity: 1;
    width: 10px;
    height: 10px;
    border: 1px solid $mainColor;
}
.swiper-pagination-bullet-active {
    background-color: $mainColor;
}
.dark {
    color: $blackColor !important;
}
.dark-btn {
    border: 1px solid $blackColor !important;
    &:hover {
        border: 1px solid $mainColor !important;
        color: $mainColor !important;
    }
}
.btn {
    background-color: $mainColor;
    cursor: pointer;
    transition: all .4s ease;
}
.hide {
    display: none !important;    
}
.show {
    display: block !important;   
}
.showFlex {
    display: flex !important;  
}
.sistems__swiper-arrow {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 1px solid $grayColor;
    @include flexCenter;
    cursor: pointer;
    & > svg {
        width: 18px;
        height: 18px;
    }
    &:hover {
        background-color: $mainColor;
        svg > path {
            stroke: #ffffff;
        }
    }   
}
.title {
    font-size: 32px;
    @include fontsLight;
    color: $blackColor;
    margin-bottom: 30px;
    text-align: center;
}
.subtitle {
    @include fontsLight;
    color: $blackColor;
    font-size: 20px;
    margin-bottom: 23px;
    text-align: center;
}
