.container {
    max-width: 1150px;
    padding: 0 15px;
    margin: 0 auto;
}
.body__container {
    width: 100%;
    position: relative;
    overflow: hidden;
}
.swiper-pagination-bullet {
    background-color: $whiteColor;
    opacity: 1;
    width: 10px;
    height: 10px;
    border: 1px solid $mainColor;
}
.swiper-pagination-bullet-active {
    background-color: $mainColor;
}
.dark {
    color: $blackColor !important;
}
.dark-btn {
    border: 1px solid $blackColor !important;
    &:hover {
        border: 1px solid $mainColor !important;
        color: $mainColor !important;
    }
}
.btn {
    background-color: $mainColor;
    cursor: pointer;
    transition: all .4s ease;
}
.hide {
    display: none !important;    
}
.show {
    display: block !important;    
}
.showFlex {
    display: flex !important;  
}
.sistems__swiper-arrow {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 1px solid $grayColor;
    @include flexCenter;
    cursor: pointer;
    & > svg {
        width: 18px;
        height: 18px;
    }
    &:hover {
        background-color: $mainColor;
        svg > path {
            stroke: #ffffff;
        }
    }   
}
.title {
    font-size: 32px;
    @include fontsLight;
    color: $blackColor;
    margin-bottom: 30px;
    text-align: center;
}
.subtitle {
    @include fontsLight;
    color: $blackColor;
    font-size: 20px;
    margin-bottom: 23px;
    text-align: center;
}
.descr {
    @include fontsLight;
    font-size: 16px;
    color: $blackColor;
    margin-bottom: 20px;
    & > a {
        @include fontsBold;
        font-size: 16px;
        color: $mainColor;
    }
}
.list {
    list-style-type: disc;
    margin-bottom: 30px;
    &__item {
        @include fontsLight;
        font-size: 16px;
        color: $blackColor;
        margin-bottom: 10px;
        margin-left: 20px;
    }
    &-number {
        margin-bottom: 30px;
    }
}
.download {
    display: block;
    @include fontsMedium;
    color: $mainColor;
    font-size: 20px;
    margin-bottom: 30px;
}
.sitebar {
    position: fixed;  
    top: 15%;
    left: 10%;
    width: 10%;     
    border: 1px solid $grayColor3;   
    box-shadow: 10px 10px 20px $grayColor3;
    padding: 10px;
    &__news {
        display: none;
    }
    &__nav {
        & > ul {
            & > li {
                margin-bottom: 10px;
                & > a {
                    @include fontsLight;
                    font-size: 16px;
                    color: $blackColor;
                    transition: all .4s ease;
                    &:hover {
                        color: $mainColor;
                    }
                }
               
            }
        }
    }
    
}
