@mixin flexSpaceBetween {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin flexStartCenter {
    display: flex;
    align-items: center;
    justify-content: start;
}
@mixin flexStar {
    display: flex;
    align-items: start;
    justify-content: start;
}
@mixin flexEndCenter {
    display: flex;
    align-items: center;
    justify-content: end;
}
@mixin flexEnd {
    display: flex;
    align-items: center;
    justify-content: end;
}
@mixin fontsBold {
    font-family: 'MuseoSansCyrl-bold', Arial, Helvetica, sans-serif;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0;
}
@mixin fontsMedium {
    font-family: 'MuseoSansCyrl-medium', Arial, Helvetica, sans-serif;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0;
}
@mixin fontsLight {
    font-family: 'MuseoSansCyrl-light', Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0;
}
